<h1> admin invoice show </h1>

<section id="invoice-information">
  <ul>
    <li>invoice id: <%= @invoice.id %></li>
    <li>invoice status: <%= @invoice.status %></li>
    <li>invoice creation date: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></li>
    <li>invoice total: <%= @invoice.invoice_items.invoice_amount %></li>
  </ul>

  <%= form_with invoice: @invoice, method: :patch do |f| %>
    <%= f.select :status, Invoice.statuses.keys, selected: "#{@invoice.status}" %>
    <%= f.label :status %>
    <%= f.submit %>
  <% end %>
</section>

<section id="customer-information">
  <ul>
    <li>customer name: <%= name(@invoice.customer) %></li>
    <li>customer address: <%= @invoice.customer.address%></li>
  </ul>
</section>

<section id="invoice-items-information">
  <ul>
    <% @discounted_items.each do |invoice_item| %>
      <li id="invoice-item-<%= invoice_item.id %>">
        <p>item name: <%= invoice_item.item.name %></p>
        <p>quantity: <%= invoice_item.quantity %></p>
        <p>unit price: <%= invoice_item.unit_price %></p>
        <p>discount link: <%= link_to 'discount link', merchant_bulk_discount_path(@invoice.merchant, id: "#{invoice_item.discount_id}") %></p>
        <p>shipping status: <%= invoice_item.status%></p>
      </li>
    <% end %>

    <% @regular_items.each do |invoice_item| %>
      <li id="invoice-item-<%= invoice_item.id %>">
        <p>item name: <%= invoice_item.item.name %></p>
        <p>quantity: <%= invoice_item.quantity %></p>
        <p>unit price: <%= invoice_item.unit_price %></p>
        <p>shipping status: <%= invoice_item.status%></p>
      </li>
    <% end %>

  </ul>
</section>
