<h4><%= discounted_item.item_name %></h4>
<h5>quantity: <%= discounted_item.quantity%>
unit price: <%= discounted_item.unit_price %>
<p id="discount-link-<%= discounted_item.id %>">
<%= link_to 'discount link', merchant_bulk_discount_path(@merchant, id: "#{discounted_item.discount_id}") %></p>
status: <%= render partial: "status", locals: {
  object: invoice_item, 
  text: "Update Item Status!", 
  options: ["pending", "packaged", "shipped"]} %>
</h5>